<div class='applicant-apply-form'>

<h1>New Applicant</h1>
<%= simple_form_for(@applicant) do |f| %>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :linkedin_url, required: true%>
    <%= f.button :submit %>
  <% end %>

</div>