<div class='talk-submit-form'>

<h1>Add a new Event!</h1>
<%= simple_form_for(@talk) do |f| %>
    <%= f.input :title, required: true %>
    <%= f.input :description, required: true %>
    <%= f.input :start_time, required: true %>
    <%= f.input :end_time, required: true%>
    <%= f.button :submit %>
  <% end %>

</div>