<h1>Add a new Event!</h1>
<%= form_for :talk do |f| %>
    <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    </p>

    <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
    </p>

    <p>
    <%= f.label :start_time%><br>
    <%= f.text_area :start_time%>
    </p>

    <p>
    <%= f.label :end_time %><br>
    <%= f.text_area :end_time %>
    </p>

    <p>
    <%= f.submit %>

    </p>

    <% end %>