<header>
  <div class="logos">
    <%= link_to image_tag('cdx-logo.svg', alt: 'CDx Connection'), '#', title: 'CDx Connection', class: 'cdx-logo' %>
    <span class="separator"></span>
    <%= link_to image_tag('aws-logo.svg', alt: 'Partnership with AWS'), '#', title: 'Partnership with AWS', class: 'partner-logo' %>
  </div>

  <nav class="header-nav">
    <ul>
      <%= link_to 'Home', root_path, class: "btn btn-primary", title: 'Home' %>
      <%= link_to 'About', about_path, class: "btn btn-primary", title: 'About' %>
      <%= link_to 'Events', '#', class: "btn btn-primary", title: 'Events' %>
      <%= link_to 'Contact', contact_path, class: "btn btn-primary", title: 'Contact' %>
      <%= link_to 'Upcoming Events', upcoming_events_path, class: "btn btn-primary", title: 'Upcoming Events' %>
      <%= link_to 'Add a Talk', new_events_path, class: "btn btn-primary", title: 'Upcoming Events' %>
    </ul>
  </nav>
</header>
