<!DOCTYPE html>
<html>
  <head>
    <title>CTO Connection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render('layouts/header') %>
  </head>

  <body>

    <% flash.each do |name, msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>

    <%= render 'layouts/nav_bar' %>
    <%= render 'layouts/flash_messages' %>

    <header class='clearfix'>
    <div class="right-nav">
      <ul>
        <li><%= link_to "Upcoming Events", coming_events_path %></li>
      </ul>
    </div>
  </header>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
